* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(83, 130, 176);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 100vw;
	max-width: 70%;
	min-height: 100%;
	background-color: rgb(245, 239, 231);
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(145, 141, 141);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(196, 201, 201);
	padding: 20px;

}
.image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Achievements, .Education, .project {
	margin-bottom: 5vh;
}
 li {
	margin-bottom: 1vh;
}

h2 {
    text-decoration: underline;
    
   }
h1 {
    text-decoration: underline;
   }
span{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}